/* This page to override 1.3.core.css when put after 1.3.core.css in E:\Ignify\Websites\Store\App_Data\combres.xml
resource set.
========================================================================== */

//<editor-fold desc="Grid / General Variables">
// min-widths
@phone-xxxs-min: ~"(min-width: 320px)";
@phone-xxs-min: ~"(min-width: 375px)";
@phone-min: ~"(min-width: 480px)";
@tablet-min: ~"(min-width: 768px)";
@desktop-min: ~"(min-width: 992px)";
@desktop-large-min: ~"(min-width: 1200px)";

// max-widths
@phone-xxxs-max: ~"(max-width: 320px)";
@phone-xxs-max: ~"(max-width: 375px)";
@phone-max: ~"(max-width: 480px)";
@tablet-max: ~"(max-width: 768px)";
@desktop-max: ~"(max-width: 992px)";
@desktop-large-max: ~"(max-width: 1200px)";


// font variables
@font-roboto: "Roboto", sans-serif;
@font-opensans: "Open Sans",sans-serif;
@font-mukta: 'Mukta Malar', sans-serif;

// color variables
@black: #000;
@blue: #48c;
@gray: #444;
@blue1: #0972a4;
@gray-light: #e0e0e0;
@gray-medium: #929292;
@green-light: #bde6c6;
@orange: #fa0;
@red: #ca0f0f;
@white: #fff;

//</editor-fold>


// nav section that holds school banner and se habla espanol

.wrapper-extras {
    .school-banner {
        float: left;
        width: 60%;
    }

    .language {
        float: left;
        width: 40%;
        padding: 25px 0 0 5px;

        span {
            font-size: 16px;
            font-weight: 700;
            color: @gray;
        }
    }
}


#authorizedresellercontainer {
    .hd {
        border-bottom: none;
        
        h1 {
            color: @blue1;
        }
    }
    
    .reseller-description {
        h2 {
            &.reseller-subhdr {
                padding: 8px;
                margin-left: -8px;
                color: @white;
                background-color: @blue1;
            }
        }
    }
}

// ts-1101: color too dark in 1.3.core.css. changed from #767c7f to #dcdcdc;
.footer .footer_links .social_icons a {
    color: #dcdcdc;
}