/* This page to override 1.3.core.css when put after 1.3.core.css in E:\Ignify\Websites\Store\App_Data\combres.xml
resource set.
========================================================================== */
#authorizedresellercontainer .hd {
  border-bottom: none;
}
#authorizedresellercontainer .hd h1 {
  color: #0972a4;
}
#authorizedresellercontainer .reseller-description h2.reseller-subhdr {
  padding: 8px;
  margin-left: -8px;
  color: #fff;
  background-color: #0972a4;
}
.footer .footer_links .social_icons a {
  color: #dcdcdc;
}
