@import url("https://fonts.googleapis.com/css?family=Oswald");
/*HODGE ADDITIONS */
#banners {
  position: static !important;
}
.banner {
  background: #fff;
  position: relative;
  overflow: hidden;
}
.banner img {
  max-width: 100%;
  height: auto;
  width: 100%;
  width: auto !important;
}
.banner #banners {
  float: left;
  width: 100%;
  min-height: 90px;
  max-height: 300px;
  height: auto;
  overflow: hidden;
  z-index: 0;
}
@media (max-width: 480px) {
  .banner #banners {
    height: 100px;
    display: none;
  }
}
.dyn_content {
  max-width: 100%;
  height: auto;
  width: 100%;
  width: auto !important;
}
div#homepagebanners {
  width: 90%;
  margin: 0 auto;
}
.carousel-inner > .item {
  z-index: 88;
  text-align: center;
}
#homepagebanners .item {
  height: auto;
  font-family: "Oswald", sans-serif;
}
#homepagebanners > .container {
  position: relative;
}
.banner #contentId_Hodge_homebanner1 img {
  width: 76% !important;
}
.banner #contentId_Hodge_homebanner2 img {
  width: 19% !important;
}
.banner #contentId_Hodge_homebanner3 img {
  width: 25.3% !important;
}
.banner #contentId_Hodge_homebanner4 img {
  width: 76% !important;
}
.banner #contentId_Hodge_homebanner4 .carousel-caption {
  display: block;
  position: absolute;
  width: 100%;
  top: 34%;
  left: 15%;
  text-align: left;
}
.banner #contentId_Hodge_homebanner4 .carousel-caption h1,
.banner #contentId_Hodge_homebanner4 .carousel-caption h2,
.banner #contentId_Hodge_homebanner4 .carousel-caption h3 {
  color: #fff;
}
.banner #contentId_Hodge_homebanner4 .carousel-caption h1 {
  text-transform: uppercase;
}
.banner #contentId_Hodge_homebanner4 .carousel-caption h3 {
  width: 70%;
}
@media (min-width: 768px) {
  .banner #contentId_Hodge_homebanner4 .carousel-caption {
    top: 40%;
    left: 15%;
    text-align: left;
  }
  .banner #contentId_Hodge_homebanner4 .carousel-caption h1 {
    font-size: 30px;
  }
  .banner #contentId_Hodge_homebanner4 .carousel-caption h2 {
    font-size: 25px;
  }
  .banner #contentId_Hodge_homebanner4 .carousel-caption h3 {
    font-size: 15px;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .banner #contentId_Hodge_homebanner4 .carousel-caption {
    top: 50%;
    left: 21%;
    text-align: left;
  }
  .banner #contentId_Hodge_homebanner4 .carousel-caption h1 {
    font-size: 40px;
  }
  .banner #contentId_Hodge_homebanner4 .carousel-caption h2 {
    font-size: 35px;
  }
  .banner #contentId_Hodge_homebanner4 .carousel-caption h3 {
    font-size: 25px;
    width: 50%;
  }
}
#home_column1 {
  padding-bottom: 5px;
  width: 100%;
}
.homeproductlistscontainer {
  margin: 10px 0 0;
}
.homeproductlistscontainer h2 {
  border-bottom: 4px solid #eeeeee;
  font-family: montserratregular;
  font-size: 25px;
  color: #444444;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: left;
}
.homeproductlistscontainer h2 span {
  background: #fff;
  display: inline-block;
  padding-right: 8px;
  position: relative;
  bottom: -10px;
}
#contentId_resource_center {
  margin-top: 40px;
}
#mostpopular {
  margin: 0 0 30px;
}
#featuredproducts {
  margin: 0 0 30px;
}
div.owl-carousel {
  width: 100%;
}
div.owl-carousel li.jcarousel-item {
  width: 180px !important;
  margin: 0 4px;
}
div.owl-carousel li.jcarousel-item:first-child {
  margin-left: 0;
}
div.owl-carousel p {
  padding: 0 5px;
}
div.owl-carousel p span {
  display: block;
  font-weight: 700;
  color: #555;
}
div.owl-carousel span.prodimage {
  display: block;
  height: 100px;
  overflow: hidden;
  text-align: center;
  margin: 5px;
  padding: 5px;
}
div.owl-carousel span.prodimage img {
  max-height: 100px;
  max-width: 100px;
}
div.owl-carousel span.rating {
  display: block;
  float: left;
  margin-bottom: 2px;
  margin-left: 35px;
}
div.owl-carousel span.reviewscount {
  display: none !important;
  color: #1d6f9e;
}
div.owl-carousel .owl-prev {
  display: inline-block !important;
  margin-right: 1px;
}
div.owl-carousel .owl-next {
  display: inline-block !important;
  margin-right: 1px;
}
div.owl-carousel div.nextitem {
  position: absolute;
  top: 50%;
  bottom: 0;
  background: #000;
  border-radius: 4px;
  left: 0;
  width: 50px;
  font-size: 22px;
  height: 50px;
  color: #fff;
  filter: alpha(opacity=50);
  opacity: .5;
  z-index: 88;
  margin-top: -25px;
  text-align: center;
  padding-top: 13px;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  right: 0;
  left: auto;
}
div.owl-carousel div.nextitem:before {
  content: "\f105";
}
div.owl-carousel div.previousitem {
  position: absolute;
  top: 50%;
  bottom: 0;
  background: #000;
  border-radius: 4px;
  left: 0;
  width: 50px;
  font-size: 22px;
  height: 50px;
  color: #fff;
  filter: alpha(opacity=50);
  opacity: .5;
  z-index: 88;
  margin-top: -25px;
  text-align: center;
  padding-top: 13px;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
div.owl-carousel div.previousitem:before {
  content: "\f104";
}
div.owl-carousel .disabled div.nextitem {
  display: none;
}
div.owl-carousel .disabled div.previousitem {
  display: none;
}
div.owl-carousel li.viewlinks {
  max-width: 100% !important;
}
div.owl-carousel ul.viewlinkslist li.rating {
  float: left;
  width: auto !important;
}
div.owl-carousel .productitem li.prodname {
  min-height: 50px;
}
ul.productitem li.prodimage {
  height: 340px;
  margin-bottom: 5px;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 5px 0;
}
ul.productitem li.prodimage img {
  position: absolute;
  bottom: 1%;
  left: 0;
}
ul.productitem li.prodname {
  text-align: center;
  background: url(../images/product_heading.png) no-repeat center top;
  padding-top: 15px;
}
ul.productitem li.prodprice {
  text-align: center;
}
.carousel-control.left {
  left: 0;
}
.carousel-control.right {
  right: 0;
}
.featuredproductscarousel .prodname h3 {
  font-size: 14px;
  min-height: 40px;
}
.featuredproductscarousel .cartlinescontainer {
  min-height: 450px;
}
.featuredproductscarousel .prodimage img {
  bottom: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: middle;
}
.topbrands_content1 {
  padding-top: 57px;
}
.topbrands_content2 {
  margin-top: 25px;
}
.brandcontainer {
  margin: 15px;
}
.brandscarousel.owl-carousel .owl-item {
  min-height: 100px;
  margin: 0;
}
div.owl-carousel.brandscarousel .previousitem {
  top: 50%;
  left: -15px;
}
div.owl-carousel.brandscarousel .nextitem {
  top: 50%;
  right: -15px;
}
.resource_center {
  height: 500px;
  background: #aeb6b9 url(../images/resource_center_background.png) no-repeat right top;
}
.resource_center h2 {
  border-bottom: 0px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 65px;
}
.resource_center .resource_center_content {
  background: #fff;
  min-height: 210px;
  color: #888888;
}
.resource_center .resource_center_content span.line {
  display: block;
  height: 2px;
  width: 72px;
  margin: 0 auto;
  background: #dddddd;
  position: relative;
  top: -12px;
}
.resource_center .resource_center_content span.icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: #3b4348;
  border-radius: 100px;
  position: relative;
  top: -30px;
}
.resource_center .resource_center_content span.icon i.fa {
  font-size: 30px;
  color: #fff;
  margin-top: 16px;
}
.resource_center .resource_center_content:hover {
  cursor: pointer;
}
.resource_center .resource_center_content:hover span.icon {
  background: #197b30;
}
.resource_center .resource_center_content:hover h3 {
  color: #197b30;
}
.resource_center .resource_center_content:focus span.icon {
  background: #197b30;
}
.resource_center .resource_center_content:focus h3 {
  color: #197b30;
}
.resource_center .resource_center_content h3 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: #3b4348;
}
.resource_center .resource_center_content ul {
  list-style: disc;
  margin-left: 28%;
  font-size: 12px;
}
.resource_center .resource_center_content ul li {
  list-style-type: disc;
  padding-bottom: 5px;
}
.resource_center .resource_center_content div.request_quote {
  padding: 0px 20px;
  text-align: center;
  line-height: 20px;
}
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.container:before {
  content: " ";
  display: table;
}
.container:after {
  content: " ";
  display: table;
  clear: both;
}
.row:before {
  content: " ";
  display: table;
}
.row:after {
  content: " ";
  display: table;
  clear: both;
}
.nav:before {
  content: " ";
  display: table;
}
.nav:after {
  content: " ";
  display: table;
  clear: both;
}
.navbar:before {
  content: " ";
  display: table;
}
.navbar:after {
  content: " ";
  display: table;
  clear: both;
}
.navbar-header:before {
  content: " ";
  display: table;
}
.navbar-header:after {
  content: " ";
  display: table;
  clear: both;
}
.navbar-collapse:before {
  content: " ";
  display: table;
}
.navbar-collapse:after {
  content: " ";
  display: table;
  clear: both;
}
.r-tabs .r-tabs-panel:after {
  content: " ";
  display: table;
  clear: both;
}
.r-tabs .r-tabs-panel:before {
  content: " ";
  display: table;
}
.dotw {
  text-align: center;
  height: 250px;
}
@media screen and (min-width: 768px) {
  .featuredproducts_mobile {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  div.owl-carousel div.nextitem {
    right: -50px;
  }
  div.owl-carousel div.previousitem {
    left: -50px;
  }
  .carousel-control.right {
    right: -40px;
  }
  .carousel-control.left {
    left: -40px;
  }
  div.owl-carousel.brandscarousel .previousitem {
    left: -65px;
  }
  div.owl-carousel.brandscarousel .nextitem {
    right: -65px;
  }
}
@media screen and (max-width: 1299px) {
  .homeproductlistscontainer .container > .row {
    margin: 0;
  }
  .carousel-control.left {
    left: 10px;
  }
  .carousel-control.right {
    right: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .carousel-control {
    margin-top: -20px;
    width: 40px;
    height: 40px;
  }
  .carousel-control i.fa {
    margin-top: 8px;
  }
  div.owl-carousel div.nextitem {
    width: 40px;
    height: 40px;
    padding-top: 8px;
    margin-top: -20px;
  }
  div.owl-carousel div.previousitem {
    width: 40px;
    height: 40px;
    padding-top: 8px;
    margin-top: -20px;
  }
}
@media screen and (max-width: 768px) {
  div.owl-carousel .productitem li .span.yourprice {
    font-weight: bold;
  }
  span.price {
    font-weight: bold;
  }
  #newsfeed li {
    padding-left: 18%;
  }
}
@media screen and (max-width: 767px) {
  .banner .leftHalf {
    display: none;
  }
  .resource_center {
    background-image: none;
    height: auto;
  }
  .resource_center .resource_center_content {
    margin-bottom: 50px;
  }
  .resource_center h2 {
    margin-bottom: 45px;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  .homeproductlistscontainer div.productlistpane {
    margin-bottom: 0px;
  }
  .topbrands_content2 .col-xl-4 {
    margin-bottom: 20px;
    text-align: center;
  }
  .col-xl-2 {
    margin-bottom: 20px;
    text-align: center;
  }
  ul.productitem li.prodname {
    background: none;
  }
  .carousel-control {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #newsfeed li {
    padding-left: 11%;
  }
}
@media screen and (max-width: 360px) {
  #newsfeed li {
    padding-left: 17%;
  }
}
.laminated-padlocks {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  overflow: hidden;
  min-height: 1050px;
}
.laminated-padlocks iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
