/* Brian's Grid Variables to make life easier
========================================================================== */
/* MIXIN'S
========================================================================== */
/* OVER-RIDES
========================================================================== */
h2 {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 600;
}
h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}
h4 {
  margin: 10px 0 10px 0;
  font-size: 16px;
  font-weight: 600;
}
h5 {
  margin: 10px 0 10px 0;
  font-size: 14px;
  font-weight: 600;
}
/* PAGE-CONTENTS
========================================================================== */
.wrapper-compatibility-program {
  margin: 25px auto 0 auto;
}
.col-wrapper {
  float: left;
  width: 100%;
  padding: 15px;
}
@media (min-width: 375px) {
  .col-wrapper {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-wrapper {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .col-wrapper {
    width: 50%;
  }
}
.wrapper-matrix {
  float: left;
  width: 100%;
}
.col-matrix {
  float: left;
  width: 50%;
  padding: 5px;
}
@media (min-width: 768px) {
  .col-matrix {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .col-matrix {
    width: 25%;
  }
}
.col-matrix img {
  margin: 0 0 15px 0;
}
.col-matrix span {
  display: block;
}
.small-text {
  font-size: 12px;
}
