/* Brian's Grid / General Variables to make life easier
========================================================================== */
.fa.fa-file-pdf-o,
.fa.fa-download,
.fa.fa-file-video-o,
.fa.fa-file-powerpoint-o,
.fa.fa-file-text-o,
.fa.fa-file-zip-o,
.fa.fa-file-word-o,
.fa-vcard-o {
  font-size: 16px !important;
  margin: 0 5px;
}
.fa-file-word-o {
  color: #48c;
}
.fa-file-pdf-o {
  color: #d41;
}
.fa-file-powerpoint-o {
  color: #f38661;
}
.fa-file-video-o {
  color: #245586;
}
.fa-download {
  color: #6ca1d7;
}
.fa-file-zip-o {
  color: #193b5e;
}
/* Virtual Pages (faq lost keys/combo)
========================================================================== */
/* Page Header
========================================================================== */
.virtualpage-faq-wrapper {
  margin: 25px auto 50px auto;
}
.virtualpage-faq-wrapper .page-header span {
  display: block;
  margin: 20px auto;
}
.virtualpage-faq-wrapper .page-header .title {
  font-size: 24px;
  font-family: 'montserratregular', sans-serif;
}
.virtualpage-faq-wrapper .page-header .sub-title {
  font-size: 16px;
  font-family: 'montserratregular', sans-serif;
}
.virtualpage-faq-wrapper .head-intro {
  margin: 20px 0;
}
.virtualpage-faq-wrapper .head-intro-large {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
}
/* Accordion for FAQs
========================================================================== */
#accordion {
  margin: 0 0 150px 0;
  font-family: "Roboto", sans-serif;
}
#accordion .ui-state-active {
  background-color: #3f454a;
  border: 1px solid #e0e0e0;
}
#accordion h3 {
  font-size: 14px;
}
#accordion .ui-widget-content {
  border: none;
}
.ui-accordion .ui-accordion-header {
  padding: 10px;
  cursor: help;
  text-transform: uppercase;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.ui-state-hover {
  background: none !important;
}
.virtualpage-faq-wrapper .sup {
  vertical-align: super;
  font-size: smaller;
}
.virtualpage-faq-wrapper .highlight {
  color: #c00 !important;
}
.virtualpage-faq-wrapper p.bold {
  font-weight: 600;
}
.virtualpage-faq-wrapper span.bold {
  font-weight: 600;
}
.virtualpage-faq-wrapper p {
  margin: 0 0 10px;
}
.virtualpage-faq-wrapper div p {
  font-size: 14px;
  color: #5d5e5e;
}
.virtualpage-faq-wrapper div p.indent {
  margin-left: 10%;
}
.virtualpage-faq-wrapper div p.indent span {
  display: block;
}
.virtualpage-faq-wrapper div p.foot-note {
  text-transform: lowercase;
  font-size: 12px;
}
.virtualpage-faq-wrapper div p.foot-note span {
  display: block;
  margin-bottom: 5px;
}
.virtualpage-faq-wrapper div p.foot-note span.bold {
  display: inline;
  font-weight: 700;
}
.virtualpage-faq-wrapper div p.foot-note span.link-to-vault {
  color: #48c;
}
.virtualpage-faq-wrapper div p span.note span.bold {
  display: inline;
  font-weight: 700;
}
.virtualpage-faq-wrapper div span.note {
  text-transform: lowercase;
  font-size: 12px;
}
.virtualpage-faq-wrapper div span.note span.bold {
  display: inline;
  font-weight: 700;
}
.virtualpage-faq-wrapper div.note span.bold {
  font-weight: 700;
}
.virtualpage-faq-wrapper ol,
.virtualpage-faq-wrapper li {
  font-size: 14px;
  color: #5d5e5e;
}
.virtualpage-faq-wrapper ul li {
  list-style-type: upper-alpha !important;
  margin: auto;
}
.virtualpage-faq-wrapper ol li {
  list-style-type: decimal !important;
  margin: 10px 45px;
}
.virtualpage-faq-wrapper ul.bullet li {
  list-style-type: disc !important;
}
.virtualpage-faq-wrapper ul.bullet span.emphasize {
  font-style: italic;
}
.virtualpage-faq-wrapper ul.no-bullet li,
.virtualpage-faq-wrapper ol.no-bullet li {
  list-style-type: none !important;
  margin-bottom: 10px;
}
.virtualpage-faq-wrapper div ul {
  list-style-type: upper-alpha !important;
  margin-bottom: 10px;
}
.virtualpage-faq-wrapper div ul ol {
  list-style-type: decimal !important;
}
.virtualpage-faq-wrapper li .li-header,
.virtualpage-faq-wrapper div .li-header {
  font-weight: 700;
  margin: 10px 0;
  color: #3f454a;
}
.virtualpage-faq-wrapper ol li .li-sub-header {
  font-weight: 600;
  margin: 0 0 10px 0;
  color: #5d5e5e;
}
.virtualpage-faq-wrapper li[class*="serial-number"] span,
.virtualpage-faq-wrapper li[class*="activation-code-request"] span {
  display: block;
}
.virtualpage-faq-wrapper .activation-code-request span:last-of-type {
  margin: 0 0 10px 0;
}
.virtualpage-faq-wrapper ul li.hide-list-style-type {
  list-style-type: none !important;
}
.virtualpage-faq-wrapper span a {
  color: #c00;
}
.virtualpage-faq-wrapper span.fa-file-pdf-o {
  display: inline !important;
}
.virtualpage-faq-wrapper span.emphasize {
  font-style: italic;
}
.virtualpage-faq-wrapper .faq-footer-wrapper {
  float: left;
  width: 100%;
  margin: 0 0 50px 0;
}
.virtualpage-faq-wrapper .faq-footer-wrapper .title {
  font-size: 24px;
  font-family: 'montserratregular', sans-serif;
  margin: 0 0 30px 0;
}
.virtualpage-faq-wrapper .faq-categories {
  float: left;
  width: 100%;
}
.virtualpage-faq-wrapper .faq-categories .faqs {
  width: 70%;
  margin: 0 auto;
}
.virtualpage-faq-wrapper .faq-categories .faqs div {
  float: left;
  width: 100%;
  height: 30px;
  margin: 5px;
}
@media (min-width: 768px) {
  .virtualpage-faq-wrapper .faq-categories .faqs div {
    width: 45%;
  }
}
