/* Brian's Grid Variables to make life easier
========================================================================== */
/* MIXIN'S
========================================================================== */
.button-order {
  width: 180px;
  min-width: 180px;
  border: 1px solid #019C92;
  -webkit-box-shadow: #FFF563 0px 1px 0px inset;
  -moz-box-shadow: #FFF563 0px 1px 0px inset;
  box-shadow: #FFF563 0px 1px 0px inset;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: arial, helvetica, sans-serif;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
  display: inline-block;
  text-shadow: 0px 1px 0 rgba(238, 238, 238, 0.44);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #92cfde;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#92cfde), to(#76bdd1));
  background-image: -webkit-linear-gradient(top, #92cfde, #76bdd1);
  background-image: -moz-linear-gradient(top, #92cfde, #76bdd1);
  background-image: -ms-linear-gradient(top, #92cfde, #76bdd1);
  background-image: -o-linear-gradient(top, #92cfde, #76bdd1);
  background-image: linear-gradient(to bottom, #92cfde, #76bdd1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#92cfde, endColorstr=#76bdd1);
}
.button-order:hover {
  border: 1px solid #019C92;
  background-color: #6bbed2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6bbed2), to(#50abc4));
  background-image: -webkit-linear-gradient(top, #6bbed2, #50abc4);
  background-image: -moz-linear-gradient(top, #6bbed2, #50abc4);
  background-image: -ms-linear-gradient(top, #6bbed2, #50abc4);
  background-image: -o-linear-gradient(top, #6bbed2, #50abc4);
  background-image: linear-gradient(to bottom, #6bbed2, #50abc4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6bbed2, endColorstr=#50abc4);
}
/* VIRTUAL PAGES (SCHOOLS)
========================================================================== */
/* Undo their ul li defaults for this page only
========================================================================== */
.virtual-masterlock-catalog-wrapper .prod-category ul {
  margin: 10px 20px !important;
}
.virtual-masterlock-catalog-wrapper .prod-category li {
  margin: 0 20px !important;
  list-style-type: none !important;
  font-size: 16px;
  line-height: 25px;
}
/* 2 Rows of Product
========================================================================== */
body {
  font-family: 'Mukta Malar', sans-serif;
  font-size: 16px;
}
.virtual-masterlock-catalog-wrapper {
  margin: 25px auto 0 auto;
}
.virtual-masterlock-catalog-wrapper .page-header span {
  display: block;
  margin: 20px auto;
}
.virtual-masterlock-catalog-wrapper .page-header .title {
  font-size: 24px;
  font-family: 'Mukta Malar', sans-serif;
}
.virtual-masterlock-catalog-wrapper .page-header .sub-title {
  font-size: 16px;
  font-family: 'Mukta Malar', sans-serif;
}
.virtual-masterlock-catalog-wrapper .wrapper-products {
  margin: 0 0 50px 0;
}
/* Define Columns and Products
========================================================================== */
.wrapper-products .col-wrapper {
  float: left;
  padding: 0 15px;
  margin: 0 0 20px 0;
  width: 100%;
}
@media (min-width: 375px) {
  .wrapper-products .col-wrapper {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .wrapper-products .col-wrapper {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .wrapper-products .col-wrapper {
    width: 50%;
  }
}
/* Define Columns and Products
========================================================================== */
/* Define Call-out (tool-tip) Info
========================================================================== */
.prod-category .header .more-info {
  font-size: 18px;
}
.prod-category .header .more-info span {
  display: inline-block;
}
.prod-category .header .more-info .category-title {
  font-weight: 700;
}
.wrapper-callout {
  font-family: 'Encode Sans Expanded', sans-serif;
}
.wrapper-callout .title {
  font-size: 18px;
  font-weight: 700;
  padding: 0 5px;
}
.wrapper-callout .divider {
  width: 100%;
  border-bottom: 1px dashed #929292;
  margin: 0 0 10px 0;
}
.wrapper-callout .body {
  margin-left: 10px;
}
.wrapper-callout .body span {
  margin: 0 0 10px 0;
}
.wrapper-callout .wrapper-images {
  width: 100%;
  margin: 15px auto 0 auto;
  text-align: center;
}
.wrapper-callout .wrapper-images img {
  margin-right: 15px;
}
a.more-info {
  outline: none;
}
a.more-info .title {
  line-height: 30px;
}
a.more-info:hover {
  text-decoration: none;
}
a.more-info:hover .wrapper-callout {
  display: inline;
  position: absolute;
  color: #111;
  border: 1px solid #53d275;
  background: #fffAF0;
}
a.more-info .wrapper-callout {
  z-index: 1;
  display: none;
  padding: 14px 20px;
  margin-top: -30px;
  margin-left: 28px;
  width: 385px;
  line-height: 20px;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 5px 5px 8px #CCC;
}
.callout-arrow {
  z-index: 20;
  position: absolute;
  top: 30px;
  border: 0;
  left: -12px;
}
