/* Brian's Grid / General Variables to make life easier
========================================================================== */
.fa.fa-file-pdf-o,
.fa.fa-download,
.fa.fa-file-video-o,
.fa.fa-file-powerpoint-o,
.fa.fa-file-text-o,
.fa.fa-file-zip-o,
.fa.fa-file-word-o,
.fa-vcard-o {
  font-size: 16px !important;
  margin: 0 5px;
}
.fa-file-word-o {
  color: #48c;
}
.fa-file-pdf-o {
  color: #d41;
}
.fa-file-powerpoint-o {
  color: #f38661;
}
.fa-file-video-o {
  color: #245586;
}
.fa-download {
  color: #6ca1d7;
}
.fa-file-zip-o {
  color: #193b5e;
}
/* Virtual Pages (faq lost keys/combo)
========================================================================== */
/* Page Header
========================================================================== */
.virtualpage-lostkeys-wrapper {
  margin: 25px auto 0 auto;
}
.virtualpage-lostkeys-wrapper .wrapper-items {
  margin: 50px 0 20px 0;
}
.virtualpage-lostkeys-wrapper .page-header span {
  display: block;
  margin: 20px auto;
}
.virtualpage-lostkeys-wrapper .page-header .title {
  font-size: 24px;
  font-family: 'montserratregular', sans-serif;
}
.virtualpage-lostkeys-wrapper .page-header .sub-title {
  font-size: 16px;
  font-family: 'montserratregular', sans-serif;
}
.virtualpage-lostkeys-wrapper .head-intro {
  margin: 20px 0;
}
/* Accordion for Lost Keys FAQs
========================================================================== */
#accordion {
  margin: 0 0 150px 0;
}
#accordion .ui-state-active {
  background-color: #3f454a;
  border: 1px solid #e0e0e0;
}
#accordion .ui-widget-content {
  border: none;
}
.ui-accordion .ui-accordion-header {
  padding: 10px;
  cursor: help;
  text-transform: uppercase;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.ui-state-hover {
  background: none !important;
}
/* FAQ General, FAQ Lost Keys, FAQ Lost Combo Page
========================================================================== */
.virtualpage-lostkeys-wrapper p {
  margin: 0 0 10px;
}
.virtualpage-lostkeys-wrapper div p {
  font-size: 14px;
  color: #5d5e5e;
}
.virtualpage-lostkeys-wrapper ol,
.virtualpage-lostkeys-wrapper li {
  font-size: 14px;
  color: #5d5e5e;
}
.virtualpage-lostkeys-wrapper ul li {
  list-style-type: upper-alpha !important;
  margin: auto;
}
.virtualpage-lostkeys-wrapper ol li {
  list-style-type: decimal !important;
  margin: 10px 45px;
}
.virtualpage-lostkeys-wrapper div ul {
  list-style-type: upper-alpha !important;
}
.virtualpage-lostkeys-wrapper div ul ol {
  list-style-type: decimal !important;
}
.virtualpage-lostkeys-wrapper li .li-header,
.virtualpage-lostkeys-wrapper div .li-header {
  font-weight: 700;
  margin: 10px 0;
  color: #3f454a;
}
.virtualpage-lostkeys-wrapper ol li .li-sub-header {
  font-weight: 600;
  margin: 0 0 10px 0;
  color: #5d5e5e;
}
.virtualpage-lostkeys-wrapper li[class*="serial-number"] span,
.virtualpage-lostkeys-wrapper li[class*="activation-code-request"] span {
  display: block;
}
.virtualpage-lostkeys-wrapper .activation-code-request span:last-of-type {
  margin: 0 0 10px 0;
}
.virtualpage-lostkeys-wrapper ul li.hide-list-style-type {
  list-style-type: none !important;
}
