/* Brian's Grid / General Variables to make life easier
========================================================================== */
/* Virtual Pages (lost keys)
========================================================================== */
/* Page Header
========================================================================== */
.virtualpage-lostkeys-wrapper {
  margin: 25px auto 0 auto;
}
.virtualpage-lostkeys-wrapper .wrapper-items {
  margin: 50px 0 20px 0;
}
.virtualpage-lostkeys-wrapper .page-header span {
  display: block;
  margin: 20px auto;
}
.virtualpage-lostkeys-wrapper .page-header .title {
  font-size: 24px;
  font-family: 'montserratregular', sans-serif;
}
.virtualpage-lostkeys-wrapper .page-header .sub-title {
  font-size: 16px;
  font-family: 'montserratregular', sans-serif;
}
.virtualpage-lostkeys-wrapper .head-intro {
  margin: 20px 0;
}
/* Accordion for Lost Keys FAQs
========================================================================== */
#accordion {
  margin: 0 0 150px 0;
}
#accordion .ui-state-active {
  background-color: #3f454a;
  border: 1px solid #e0e0e0;
}
#accordion .ui-widget-content {
  border: none;
}
.ui-accordion .ui-accordion-header {
  padding: 10px;
  cursor: help;
  text-transform: uppercase;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.ui-state-default {
  border: none !important;
  background: none !important;
}
.ui-state-hover {
  background: none !important;
}
