/* Brian's Grid / General Variables to make life easier
========================================================================== */
/* Mixins
========================================================================== */
.button-order {
  width: 180px;
  min-width: 180px;
  border: 1px solid #019C92;
  -webkit-box-shadow: #FFF563 0px 1px 0px inset;
  -moz-box-shadow: #FFF563 0px 1px 0px inset;
  box-shadow: #FFF563 0px 1px 0px inset;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: arial, helvetica, sans-serif;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
  display: inline-block;
  text-shadow: 0px 1px 0 rgba(238, 238, 238, 0.44);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #92cfde;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#92cfde), to(#76bdd1));
  background-image: -webkit-linear-gradient(top, #92cfde, #76bdd1);
  background-image: -moz-linear-gradient(top, #92cfde, #76bdd1);
  background-image: -ms-linear-gradient(top, #92cfde, #76bdd1);
  background-image: -o-linear-gradient(top, #92cfde, #76bdd1);
  background-image: linear-gradient(to bottom, #92cfde, #76bdd1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#92cfde, endColorstr=#76bdd1);
}
.button-order:hover {
  border: 1px solid #019C92;
  background-color: #6bbed2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6bbed2), to(#50abc4));
  background-image: -webkit-linear-gradient(top, #6bbed2, #50abc4);
  background-image: -moz-linear-gradient(top, #6bbed2, #50abc4);
  background-image: -ms-linear-gradient(top, #6bbed2, #50abc4);
  background-image: -o-linear-gradient(top, #6bbed2, #50abc4);
  background-image: linear-gradient(to bottom, #6bbed2, #50abc4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6bbed2, endColorstr=#50abc4);
}
/* Virtual Pages (EXPRESS)
========================================================================== */
/* Page Header
========================================================================== */
.virtualpage-express-wrapper {
  margin: 25px auto 0 auto;
}
.virtualpage-express-wrapper .wrapper-items {
  margin: 50px 0 20px 0;
}
.virtualpage-express-wrapper .page-header span {
  display: block;
  margin: 20px auto;
}
.virtualpage-express-wrapper .page-header .title {
  font-size: 24px;
  font-family: 'montserratregular', sans-serif;
}
.virtualpage-express-wrapper .page-header .sub-title {
  font-size: 16px;
  font-family: 'montserratregular', sans-serif;
}
.virtualpage-express-wrapper .head-intro {
  margin: 20px 0;
}
/* Slideshow Header Section
========================================================================== */
.product-slider-wrapper {
  margin: 35px auto 0 auto;
}
@media (min-width: 768px) {
  .product-slider-wrapper {
    margin-top: 0;
  }
}
.product-slider-title {
  float: left;
}
.product-slider-title span {
  font-size: 20px;
}
.product-slider-head {
  margin-bottom: 10px;
}
.product-slider-head .product-slider-chevrons {
  position: relative;
}
.product-slider-head .product-slider-chevrons .controls {
  position: absolute;
  width: 100%;
}
.product-slider-head .product-slider-chevrons .controls .fa.btn {
  padding: 12px;
  color: #fff !important;
  background-color: #e0e0e0 !important;
}
.product-slider-head .product-slider-chevrons .controls .left {
  float: left;
}
.product-slider-head .product-slider-chevrons .controls .right {
  float: right;
}
.carousel.padlocks {
  width: 90%;
  margin: 0 auto;
}
.product-slider-chevrons {
  width: 100%;
}
/* Items in the slide show
========================================================================== */
.item-wrapper {
  float: left;
  padding: 0 10px;
  margin: 0 0 20px 0;
  width: 100%;
}
@media (min-width: 375px) {
  .item-wrapper {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .item-wrapper {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .item-wrapper {
    width: 25%;
  }
}
.carousel-inner.best-sellers {
  width: 100%;
}
.carousel-inner.best-sellers .element {
  width: 25%;
  float: left;
}
.best-sellers {
  margin-bottom: 20px;
}
.best-sellers .element {
  margin-bottom: 20px;
}
.item-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 1px 1px 5px #e0e0e0;
  -ms-box-shadow: 1px 1px 5px #e0e0e0;
  -o-box-shadow: 1px 1px 5px #e0e0e0;
  box-shadow: 1px 1px 5px #e0e0e0;
  border: 1px solid #e0e0e0;
}
.item-2:hover {
  -moz-box-shadow: 3px 3px 5px #d3d3d3;
  -ms-box-shadow: 3px 3px 5px #d3d3d3;
  -o-box-shadow: 3px 3px 5px #d3d3d3;
  box-shadow: 3px 3px 5px #d3d3d3;
  border: 1px solid #cecece;
}
.item-2 .item-image-wrapper {
  text-align: center;
}
.item-2 .item-image-wrapper a:hover {
  text-decoration: none;
}
.item-2 .item-image-wrapper .item-image {
  margin: 5px 0 10px 0;
}
.item-2 .item-image-wrapper .item-image img {
  display: inline-block;
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
.item-2 .item-title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
  min-height: 52px;
}
.item-2 .item-title .construction-type {
  font-size: 16px;
  color: #737373;
}
@media (min-width: 480px) and (max-width: 768px) {
  .item-2 .item-title .construction-type {
    min-height: 68px;
  }
}
.item-2 .item-title .item-grade {
  font-size: 14px;
}
@media (min-width: 480px) and (max-width: 768px) {
  .item-2 .item-title .item-grade {
    min-height: 40px;
  }
}
.item-2 .item-desc-wrapper {
  display: block;
  text-align: center;
  background-color: #f0f0f0;
  height: 60px;
  padding-top: 12px;
}
.item-2 .item-desc-wrapper .btn-view-details {
  display: none;
}
.item-2 .item-desc-wrapper:hover .item-desc {
  display: none;
}
.item-2 .item-desc-wrapper:hover .btn-view-details {
  display: block;
}
.item-2 .item-desc-wrapper .item-desc {
  color: #5f5f5f;
}
.item-2 .item-desc-wrapper .item-desc .packaged {
  font-size: 14px;
  font-weight: 500;
}
.item-2 .item-desc-wrapper .item-desc .text {
  font-size: 12px;
}
@media (min-width: 768px) {
  .item-2 .item-desc-wrapper .item-desc {
    margin: 4px;
  }
}
.item-2 .item-desc-wrapper .btn-view-details {
  margin-bottom: 10px;
}
.item-2 .item-desc-wrapper .btn-view-details .view-details {
  display: inline-block;
  border: 1px solid #929292;
  padding: 9px 15px 7px 10px;
  height: 36px;
  background: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 125px;
}
.item-2 .item-desc-wrapper .btn-view-details .view-details:hover {
  background: #d7f0dc;
  color: #222;
}
/* Lockout Devices & Terms and Conditions
========================================================================== */
.wrapper-devices-terms div[class^="wrapper"] .header .title {
  font-size: 20px;
  margin: 0 0 35px 0;
}
.wrapper-devices-terms div[class^="wrapper"] .header img {
  margin: 0 0 15px 0;
}
.wrapper-lockout-devices,
.wrapper-terms {
  float: left;
  width: 100%;
  padding: 20px;
}
@media (min-width: 768px) {
  .wrapper-lockout-devices,
  .wrapper-terms {
    width: 50%;
  }
}
.wrapper-lockout-devices .wrapper-inner,
.wrapper-terms .wrapper-inner {
  min-height: 600px;
  border: 1px dotted #e0e0e0;
  overflow: auto;
  padding: 15px;
}
@media (min-width: 768px) {
  .wrapper-lockout-devices .wrapper-inner,
  .wrapper-terms .wrapper-inner {
    min-height: 510px;
  }
}
@media (min-width: 992px) {
  .wrapper-lockout-devices .wrapper-inner,
  .wrapper-terms .wrapper-inner {
    min-height: 610px;
  }
}
.wrapper-devices-terms {
  width: 100%;
  margin: 0 0 50px 0;
}
.wrapper-devices-terms .wrapper-lockout-devices .header {
  width: 100%;
  float: left;
}
.wrapper-devices-terms .wrapper-lockout-devices .header .header-images .item-image-wrapper {
  float: left;
}
.wrapper-devices-terms .wrapper-lockout-devices .lockout-devices {
  width: 100%;
  float: left;
}
.wrapper-devices-terms .wrapper-lockout-devices .lockout-devices ul {
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 20px;
  text-align: left;
  width: 90%;
}
@media (min-width: 768px) {
  .wrapper-devices-terms .wrapper-lockout-devices .lockout-devices ul {
    width: 45%;
  }
}
.wrapper-devices-terms .wrapper-lockout-devices .lockout-devices li {
  list-style-image: url("http://masterlocks.com/Templates/Hodge/images/virtual-pages/check.png");
  background-repeat: no-repeat;
  background-position: 100% .4em;
  padding-right: .6em;
  margin: 1em 0;
}
.wrapper-devices-terms .wrapper-terms .topic .title {
  font-size: 18px;
  margin: 25px 0 15px 0;
}
