
/*-- ===============================

---- BACK TO SCHOOL : SALES PAGE  ----

Date created:    August 14, 2018 ;

================================= --*/


/*-- ==============================================

[Table of contents]

------------- How to find the css of a particular section ---------------

( Example: Type 'ctrl+f' and then '3.services' to jump to the "services" section. Click 'find' if needed.)

-> reset css / reset css
-> Header / 1.header css 
-> Banner / 2.banner css
-> Services / 3.services css
-> Features / 4.features css 
-> Projects / 5.projects css
-> Feedback / 6.feedback css
-> Blog / 7.blog css
-> Contact / 8.contact css
-> Footer / 9.footer css

fonts / installed fonts 
Section header /   #section_title css
css for all paragraph / paragraph css
css for all buttons / button css
lightbox / .my_lightbox css 

================================================ --*/


/*-- RESET CSS
--------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif; /* 400,600,700*/
	margin: 0;
	padding: 0;
}
ol,ul{
	list-style-type: none;
}
img{
	border: none;
    width: 100%;
}
a{
	text-decoration: none;
    
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: 600;
	color: #333333;
}

.content h2 {
    font-size: 30px;
}

.content p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.content .price {
    color: #333;
}

.content span {
    color: #333;
}

.banner-content p span {
    color: #fff;
}

div#catalog_content div#home a.buy-button {
    color: #fff;
}

div#catalog_content div#home a.buy-button:hover {
    color: #C53737;
}

input:focus, .btn:focus, a:focus, button:focus{
	outline: 0;
}

.left{
	float: left;
}

.right{
	float: right;
}



/* ------- BANNER SECTION CSS ------- */
#banner{
    width: 100%;
    height: 100vh;
    background-image: url('/Templates/Hodge/images/labordaysale/images/banner-2.jpg');
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.banner-overlay{
    width: 100%;
    height: 100vh;
    background: #00000061;
}

#banner h1{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 80px;
    letter-spacing: 3px;
    
}

#banner p{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

#banner .drop-button{
    background: #ffffff00;
    color: #fff !important;
    padding: 10px 30px;
    border: 2px solid #fff;
    font-size: 18px;
    transition: 0.3s;
    
}
#banner .drop-button:hover{
    background: #80191a;
    color: #fff;
    padding: 10px 30px;
    border: 2px solid #fff;
    font-size: 18px;
    
}
#banner a{
    text-decoration: none;
}

.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    font-size: 14px;
}

/* ------- PRODUCT SECTION CSS ------- */

#products{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#products h1{
    font-family: 'Montserrat', sans-serif;
    color: #C53737;
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    margin: 50px 0 110px 0;
    
}

.buy-button{
    padding: 10px 30px;
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background: #C53737;
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
    border: 1px solid #fff;
    transition: ease .2s;
}
.buy-button:hover{
    background: #fff;
    color: #C53737;
    border: 1px solid #C53737;
}



.content a{
    text-decoration: none;
}

#products span.price{
    font-weight: bold;
    color: #000 !important;
}


#products .empty{
    width: 10%;
}

#products .content{
    width: 40%;
    margin-right: 30px;
}



/* -------MEDIA QUERY
================================================  ----*/


/*--- For Screen less that 992px width ---*/
@media (max-width: 991px){
#products .empty{
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
}

#products .content{
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
}

    #products .content h2{
        
    }
}


/*--- For Screen less that 768px width ---*/
@media (max-width: 767px){
  
    #banner .banner-content{
        width: 90%;
        margin: 0 auto;
    }
#products .empty{
    width: 100%;
}

#products .content{
    width: 100%;
}

  
}


/*--- For Screen less that 468px width ---*/
@media (max-width: 467px){
    #products .empty{
        width: 100%;
    }

    #products .content{
        width: 100%;
    } 
    
    #banner .banner-content{
        width: 90%;
        margin: 0 auto;
    }
    #banner h1{
      font-size: 70px;
      margin-bottom: 10px;
    }

    #banner p{
      font-size: 20px;
    }


    #banner .drop-button{
        background: #80191a;
        border: none;
        padding: 10px 30px;

    }

}